.div-render-departamento {}

.section-departamento {
  overflow-y: scroll;
  height: 25vh;
  margin-top: 2%;
  background-color: var(--cor-cinza05);


}

.div-depart {
  margin-top: 7px;
  height: 144px;
  width: 400px;
  display: flex;
  flex-flow: column;
}

.nome-departamento,
.descricao-departamento,
.nome-company {
  font-size: 13px;
  margin-left: 10px;
  margin-top: 10px;
}

.linha-div {
  height: 2px;
  background-color: var(--cor-alert1);
  display: flex;
  margin-top: 7px;

}

.tag-li {
  background-color: var(--cor-branco);
  list-style: none;
  margin-left: 4%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.ul-render-departamento {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.div-btns-icons {
  margin-top: 20px;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.btn-olho {
  background-position: center;
  background-size: 30px;
  background-image: url("/src/olho.png");
  display: flex;
  height: 40px;
  width: 50px;
  border: none;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  cursor: pointer;
}

.btn-editar {
  background-position: center;
  background-size: 30px;
  background-image: url("/src/editar.png");
  display: flex;
  height: 40px;
  width: 50px;
  border: none;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  cursor: pointer;

}

.btn-excluir {
  background-position: center;
  background-size: 30px;
  background-image: url("/src/deletar.png");
  display: flex;
  height: 40px;
  width: 50px;
  border: none;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  cursor: pointer;

}

.tag-H1-Nome-Depart {
  height: 30px;
}

.btn-criar-empresa {
  background-color: var(--cor-alert1);
  color: #FFFFFF;
  border: none;
  height: 30px;
  width: 80px;
  text-align: center;
  cursor: pointer;


}

.div-section-select-empresa {
  display: flex;
  flex-flow: row;
}

.div-depart-select-btn {
  display: flex;
  margin-top: 90px;
  width: 100%;
  justify-content: space-between;
  flex-flow: row;

}

.select-home-empresa {
  border-radius: 10px;
  width: 180px;
  text-align: center;
  height: 25px;
}